#recipes
{
    margin-bottom: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

#recipe
{
    display: inline-block;
    text-align: center;
    background-color: #FFF;
}

h1
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 100px;
    height: 210px;
}