<app-element *ngIf="depth == 0" [element]=recipes[0].Product [finalProduct]=true></app-element>

<div id="recipes">

  <ng-container *ngFor="let recipe of recipes; let i = index">
    <h1 *ngIf="i > 0">OU</h1>
    <div id="recipe_container">
      <div id="recipe">
        <p>Recette {{i + 1}}</p>
        <ng-container *ngFor="let line of recipe.Lines; let j = index">
          <app-element (eventEmitter)="forwardClickedElement($event)" [element]=line.Ingredient [recipeIndex]=i [elementIndex]=j [quantity]=line.Quantity></app-element>
        </ng-container>
      </div>
    </div>
  </ng-container>
  
</div>