#recipes
{
    text-align: center;
    margin: auto;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    animation: fadein 1s;
}

#recipe_container
{
    display: inline-block;
    animation: fadein 1s;
}

#recipe
{
    text-align: center;
    animation: fadein 1s;
    /* background-color: #FFF; */
}

h2
{
    display: inline-block;
    text-align: center;
    min-width: 100px;
    transform: translateY(-60px);
    animation: fadein 1s;
}

@keyframes fadein 
{
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}